<link rel="stylesheet" type="text/css" href="/css/items.css">

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="ctrl.message">{{ctrl.message}}</div>
        </div>
    </div>
    <div class="row addItem">
        <div class="col-xs-12">

            <form name="itemForm">
                Item Name: <input type="text" ng-model="ctrl.item.name" />
                <button ng-click="ctrl.createItem( ctrl.item )">Add this item</button>
            </form>

        </div>
    </div>
</div> 
