<div class="container-fluid content">

    <div class="row">
        <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2  col-xs-10 col-xs-offset-1">

            <div class="login panel">

                <div class="panel-body">

                    <div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>

                    <form id="register-form" ng-submit="register()" role="form" ng-show="formToShow=='Join'">

                        <div class="form-group">
                            <input type="text" name="name" id="joinName" class="form-control" placeholder="Full name" value="" ng-model="registerForm.name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" id="joinEmail" class="form-control" placeholder="Email Address" value="" ng-model="registerForm.email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="joinPassword" class="form-control" placeholder="Password" ng-model="registerForm.password">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm-password" id="confirm-password" class="form-control" placeholder="Confirm Password" ng-model="registerForm.confirmPassword">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="register-submit" id="register-submit" class="form-control button" value="Join" 
                            style="background-color:#BD081C;color:white;font-weight:2px">
                        </div>

                    </form>
                    
                    <form id="login-form" ng-submit="login()" role="form" ng-show="formToShow=='Log in'">

                        <div class="form-group">
                            <input type="email" name="email" id="loginEmail" class="form-control" placeholder="Email Address" value="" ng-model="loginForm.email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="loginPassword" class="form-control" placeholder="Password" ng-model="loginForm.password">
                        </div>
                        <div class="form-group">
                            <input type="submit" name="login-submit" id="login-submit" class="form-control button" value="Log In"
                            style="background-color:#BD081C;color:white;font-weight:2px">
                        </div>

                    </form>

                    <div class="form-group">
                        or
                    </div>
                    <div class="form-group">
                        <button type="submit" class="form-control button" ng-bind="formToggleText" ng-click="switchForm()" 
                            style="background-color:#BD081C;color:white;font-weight:2px">Log in</button>
                    </div>
                    <div class="form-group">
                        <a href="/api/auth/facebook">
                            <input type="button" class="form-control button" style="background-color:#3b5998;color:white;font-weight:2px" value="Continue with Facebook">
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="/api/auth/google">
                            <input type="button" class="form-control button" style="background-color:#4285F4;color:white;font-weight:2px" value="Continue with Google">
                        </a>
                    </div>

                </div><!-- panel-body -->

            </div><!-- panel -->
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->

