<div class="container-fluid content">

    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">

            <div class="login panel">

                <div class="panel-body">

                    <div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

                    <form id="register-form" ng-submit="register()" role="form" ng-show="formToShow=='Join'">

                        <div class="form-group">
                            <input type="text" name="name" id="joinName" class="form-control loginInput" placeholder="Full name"
                            ng-model="registerForm.name" ng-required="true">
                        </div>

                        <div class="form-group">
                            <input type="email" name="email" id="joinEmail" class="form-control loginInput" placeholder="Email Address" 
                            value=""
                            ng-model="registerForm.email"
                            ng-required="true">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="joinPassword" class="form-control loginInput" placeholder="Password"
                            ng-model="registerForm.password" ng-required="true">
                        </div>
                        <div class="form-group">
                            <input type="password" name="confirm-password" id="confirm-password" class="form-control loginInput" placeholder="Confirm Password" ng-model="registerForm.confirmPassword" ng-required="true">
                        </div>

                        <div class="form-group">
                <input type="text" name="location" ng-model="registerForm.location" class="form-control loginInput" placeholder="Location" ng-required="true"
        uib-typeahead="location as location.name for location in locations | filter:$viewValue | orderBy:'name' | limitTo:8">
                        </div>
                        
                        <div class="form-group">
                            <button type="submit" name="register-submit" id="register-submit" class="form-control button loginButton" value="Join" 
                            style="background-color:#55cfcf80;color:black;font-weight:2px">Join</button>
                        </div>

                    </form>
                    
                    <form id="login-form" ng-submit="login()" role="form" ng-show="formToShow=='Log in'">

                        <div class="form-group">
                            <input type="email" name="email" id="loginEmail" class="form-control loginInput" placeholder="Email Address" value="" ng-model="loginForm.email">
                        </div>
                        <div class="form-group">
                            <input type="password" name="password" id="loginPassword" class="form-control loginInput" placeholder="Password" ng-model="loginForm.password">
                        </div>
                        <div class="form-group">
                            <button type="submit" name="login-submit" id="login-submit" class="form-control button loginButton" value="Log In"
                            style="background-color:#55cfcf80;color:black;font-weight:2px">Log In</button>
                        </div>

                    </form>

                    <div class="form-group row">
                        <div class="col-xs-4 loginCol">{{altMessage}}</div>
                        <div class="col-xs-8 loginCol">
                            <button type="submit" class="form-control button" ng-bind="formToggleText" ng-click="switchForm()" 
                            style="background-color:#55cfcf80;color:black;font-weight:2px">Log in</button>
                        </div>
                    </div>
                    <!-- <div class="form-group">
                        <a href="/api/auth/facebook">
                            <input type="button" class="form-control loginButton button" style="background-color:#3b5998;color:white;font-weight:2px" value="Continue with Facebook">
                        </a>
                    </div>
                    <div class="form-group">
                        <a href="/api/auth/google">
                            <input type="button" class="form-control loginButton button" style="background-color:#4285F4;color:white;font-weight:2px" value="Continue with Google">
                        </a>
                    </div> -->

                </div><!-- panel-body -->

            </div><!-- panel -->
        </div><!-- col -->
    </div><!-- row -->
</div><!-- container -->

