
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div ng-if="myExchanges.length < 1">You do not have any exchanges, click <a href="/newExchange">here</a> to start one now</div>

<div class="container-fluid content">

        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="myExchanges">
                        
                    <div ng-repeat="exchange in myExchanges | orderBy : '-created'" class="col-xs-12 exchange">
                       
                            <div class="row"> 

                                <div class="col-xs-6"><!-- exchange details -->

            Reference: <a href="/exchange/{{ exchange._id }}">{{ exchange._id }}</a><br>
            Status: {{ exchange.status }}<br>
            <br>

            User: <a href="/users/{{ exchange.recipient._id }}" ng-if="user._id == exchange.sender._id">
            {{ UtilityService.getUserName( exchange.recipient ) }}</a>
            <a href="/users/{{ exchange.sender._id }}" ng-if="user._id != exchange.sender._id">
            {{ UtilityService.getUserName( exchange.sender ) }}</a>
            <br><br>

            Created: {{ UtilityService.formatTimestamp(exchange.created, 'long') }}<br>
            Last modified: {{ UtilityService.formatTimestamp(exchange.lastModified, 'long') }}<br>
            <br>

            <div ng-if="exchange.sender._id == user._id">
                <div ng-if="exchange.feedback.sender">
                   You said:
                    <span ng-if="exchange.feedback.sender.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                    <span ng-if="exchange.feedback.sender.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                    <span ng-if="exchange.feedback.sender.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                    "{{ exchange.feedback.sender.comment }}" [{{ UtilityService.formatTimestamp( exchange.feedback.sender.timestamp ) }}]
                </div>
                <div ng-if="!exchange.feedback.sender">
                    You haven't left any feedback yet
                </div>
                <div ng-if="exchange.feedback.recipient">
                    They said: 
                    <span ng-if="exchange.feedback.recipient.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                    <span ng-if="exchange.feedback.recipient.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                    <span ng-if="exchange.feedback.recipient.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                    "{{ exchange.feedback.recipient.comment }}" [{{ UtilityService.formatTimestamp( exchange.feedback.recipient.timestamp ) }}]
                </div>
                <div ng-if="!exchange.feedback.recipient">
                    They haven't left any feedback yet
                </div>
            </div>

            <div ng-if="exchange.sender._id != user._id">
                <div ng-if="exchange.feedback.recipient">
                    You said: 
                    <span ng-if="exchange.feedback.recipient.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                    <span ng-if="exchange.feedback.recipient.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                    <span ng-if="exchange.feedback.recipient.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                    "{{ exchange.feedback.recipient.comment }}" [{{ UtilityService.formatTimestamp( exchange.feedback.recipient.timestamp ) }}]
                </div>
                <div ng-if="!exchange.feedback.recipient">
                    You haven't left any feedback yet
                </div>
                <div ng-if="exchange.feedback.sender">
                    They said: 
                    <span ng-if="exchange.feedback.sender.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                    <span ng-if="exchange.feedback.sender.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                    <span ng-if="exchange.feedback.sender.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                    "{{ exchange.feedback.sender.comment }}" [{{ UtilityService.formatTimestamp( exchange.feedback.sender.timestamp ) }}]
                </div>
                <div ng-if="!exchange.feedback.sender">
                    They haven't left any feedback yet
                </div>
            </div>


                                </div><!-- exchange details end -->

                                <div class="col-xs-2"><!-- exchange actions -->

                                    <a href="/exchange/{{ exchange._id }}"><button class="btn exchangeAction">View</button></a><br>

                                    <button class="btn exchangeAction" 
                                        ng-if="exchange.status=='In progress'"
                                        ng-click="exchange.status='Cancelled'; cancelExchange( exchange._id )">
                                        Cancel
                                    </button>


                                </div><!-- exchange actions end -->
                            </div>
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
