<div class="container-fluid content">

    <div class="row" id="exchangeItems">





        <div class="col-xs-2" id="myItems">
            <h4><a href="/myItems">Your items</a></h4>

            <div ng-if="ctrl.userIsSender">
                <div ng-repeat="item in ctrl.options.sender">
                    <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>
                </div>
            </div>

            <div ng-if="!ctrl.userIsSender">
                <div ng-repeat="item in ctrl.options.recipient">
                    <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>
                </div>
            </div>

        </div>





        <div class="col-xs-8" id="exchange">
            <div class="row"><h5>Exchange: {{ctrl.exchange._id}}</h5></div>
            <div class="row">

                <div class="col-xs-6" id="myExchangeItems">

                        <h3><a href="/profile">{{ ctrl.user.username }}</a></h3>

                        <div ng-if="ctrl.userIsSender">

                            <div ng-repeat="item in exchange.items.sender">
                                <a ng-click="ctrl.removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a> 
                            </div>

                        </div>

                        <div ng-if="!ctrl.userIsSender">

                            <div ng-repeat="item in exchange.items.recipient">
                                <a ng-click="ctrl.removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a>    
                            </div>

                        </div>
                </div>

                <div class="col-xs-6" id="theirExchangeItems">

                        <h3><a href="/users/{{ ctrl.otherUser.username }}">{{ ctrl.otherUser.username }}</a></h3>

                        <div ng-if="!ctrl.userIsSender">

                            <div ng-repeat="item in exchange.items.sender">
                                <a ng-click="ctrl.removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a> 
                            </div>

                        </div>

                        <div ng-if="ctrl.userIsSender">

                            <div ng-repeat="item in exchange.items.recipient">
                                <a ng-click="ctrl.removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a>    
                            </div>

                        </div>

                </div>

            </div><!-- row -->



        <div class="row" id="exchangeDecision">

            <div ng-if="ctrl.userIsSender">

                <div class="col-xs-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="senderAccepted" ng-model="exchange.accepted.sender" ng-click="ctrl.toggleAcceptance()">
                    </label>
                </div>

                <div class="col-xs-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="recipientAccepted" ng-model="exchange.accepted.recipient" disabled="disabled">
                    </label>
                </div>

            </div>

            <div ng-if="!ctrl.userIsSender">

                <div class="col-xs-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="recipientAccepted" ng-model="exchange.accepted.recipient" ng-click="ctrl.toggleAcceptance()">
                    </label>
                </div>

                <div class="col-xs-6">
                    <label class="checkbox-inline">
                        <input type="checkbox" name="senderAccepted" ng-model="exchange.accepted.sender" disabled="disabled">
                    </label>
                </div>

            </div>

            <div class="col-xs-12">
                <button type="button" class="btn btn-outline-danger" ng-click="ctrl.cancelOffer()">Cancel exchange</button>
            </div>

        </div>



            <div class="row" id="exchangeMessages">
                <div class="col">

                    <div class="row">
                        Messages
                    </div>

                    <div class="row">

                        <input type="text" id="messageInput" placeholder="Type a message" ng-model="ctrl.message"/>
                        <button class="btn" id="messageButton" ng-click="ctrl.sendMessage( )">Send</button>
                    </div>

                    <div class="row">

                        <div class="col-xs-12" id="displayMessages">

                            <div ng-repeat="message in exchange.messages">

                                <div class="row">
                                    <div class="col-xs-2">{{ message.sender.username }}: </div>
                                    <div class="col-xs-10">{{ message.content }}</div>  
                                </div>

                            </div>

                        </div>
                        
                    </div>
                </div>
                
                

                

            </div>



        </div><!-- exchange -->






        <div class="col-xs-2" id="theirItems">

                <h4><a href="/users/{{ ctrl.otherUser.username }}">{{ ctrl.otherUser.username }}'s items</a></h4>

                <div ng-if="ctrl.userIsSender">
                    <div ng-repeat="item in ctrl.options.recipient">
                        <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>
                    </div>
                </div>

                <div ng-if="!ctrl.userIsSender">
                    <div ng-repeat="item in ctrl.options.sender">
                        <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>
                    </div>
                </div>

            </div>
        </div>



</div>