<div class="container-fluid content">

        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="ctrl.exchanges">
                        
                    <div ng-repeat="exchange in ctrl.exchanges" class="col-xs-12 exchange">
                       
                            <div class="row"> <!-- exchange details -->
                                <div class="col">
                                    <a href="/exchanges/{{ exchange._id }}">User: {{ exchange.recipient.username }}</a><br>
                                </div>
                            </div>

                            <div class="row items">
                                <div class="col-xs-6">
                                    <div ng-repeat="item in exchange.items.recipient" class="row"><div class="col-xs-12">item</div></div>
                                </div>
                                <div class="col-xs-6">
                                    <div ng-repeat="item in exchange.items.sender" class="row"><div class="col-xs-12">item</div></div>
                                </div>                                
                            </div>
                        
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
