<div class="container-fluid content">

    <div class="row" id="exchangeItems" ng-if="otherUser && user">





        <div class="col-xs-2" id="myItems">
            <h4><a href="/myItems">Your items</a></h4>

            <div ng-if="userIsSender">
                <div ng-repeat="item in options.sender">
                    <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>
                </div>
            </div>

            <div ng-if="!userIsSender">
                <div ng-repeat="item in options.recipient">
                    <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>
                </div>
            </div>

        </div>





        <div class="col-xs-8" id="exchange">
            <div class="row"><h5>Exchange - {{exchange.status}}</h5></div>
            <div class="row">

                <div class="col-xs-6" id="myExchangeItems">

                        <h3><a href="/profile">{{ UtilityService.getUserName( user ) }}</a></h3>

                        <div ng-if="userIsSender">

                            <div ng-repeat="item in exchange.items.sender">
                                <a ng-click="removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a> 
                            </div>

                        </div>

                        <div ng-if="!userIsSender">

                            <div ng-repeat="item in exchange.items.recipient">
                                <a ng-click="removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a>    
                            </div>

                        </div>
                </div>

                <div class="col-xs-6" id="theirExchangeItems">

                        <h3><a href="/users/{{ otherUser._id }}">{{ UtilityService.getUserName( otherUser ) }}</a></h3>

                        <div ng-if="!userIsSender">

                            <div ng-repeat="item in exchange.items.sender">
                                <a ng-click="removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a> 
                            </div>

                        </div>

                        <div ng-if="userIsSender">

                            <div ng-repeat="item in exchange.items.recipient">
                                <a ng-click="removeFromExchange(item)"><div class="exchangeItem">{{ item.name }}</div></a>    
                            </div>

                        </div>

                </div>

            </div><!-- row -->




        <div class="row" id="exchangeDecision" ng-if="exchange.accepted">

            <div ng-if="userIsSender">

                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" ng-model="exchange.accepted.sender" ng-click="toggleAcceptance()">
                    </label>
                </div>

                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" ng-model="exchange.accepted.recipient" disabled="disabled">
                    </label>
                </div>

            </div>

            <div ng-if="!userIsSender">

                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" ng-model="exchange.accepted.recipient" ng-click="toggleAcceptance()">
                    </label>
                </div>

                <div class="col-xs-6">
                    <label>
                        <input type="checkbox" ng-model="exchange.accepted.sender" disabled="disabled">
                    </label>
                </div>

            </div>

            <div class="col-xs-12">
                <button type="button" class="btn btn-outline-danger" ng-click="cancelExchange()">Cancel exchange</button>
            </div>

        </div>





        </div><!-- exchange -->


        <div class="col-xs-2" id="theirItems">

                <h4><a href="/users/{{ otherUser._id }}">{{ UtilityService.getUserName( otherUser ) }}'s items</a></h4>

                <div ng-if="userIsSender">
                    <div ng-repeat="item in options.recipient">
                        <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>
                    </div>
                </div>

                <div ng-if="!userIsSender">
                    <div ng-repeat="item in options.sender">
                        <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>
                    </div>
                </div>

            </div>
        </div>


</div>




<div id="exchangeFooter" class="row">

    <div class="col-xs-6" id="messenger">

        <div class="row"><h5>Messages</h5></div>

        <div id="displayMessages">

            <div class="row message" ng-repeat="messageToDisplay in exchange.conversation.messages  | orderBy : '-timestamp'">

                    <div class="col-xs-5 messageInfo" ng-if="messageToDisplay.timestamp">[{{ UtilityService.formatTimestamp(messageToDisplay.timestamp, 'short') }}] <b>{{ UtilityService.getUserName( messageToDisplay.sender ) }}:</b> </div>
                    <div class="col-xs-7 messageContent">{{ messageToDisplay.content }}</div>  

            </div>

        </div>
    

        <div id="messageForm" class="row">
            <input type="text" id="messageInput" placeholder="Type a message" 
            ng-model="message" ng-keydown="$event.keyCode === 13 && sendMessage()" />

            <button class="btn" id="messageButton" ng-click="sendMessage( )">Send</button>
        </div>

    </div>


    <div class="col-xs-6" id="otherUserInfo" ng-if="otherUser">

        <div class="row"><h5><a href="/users/{{ otherUser._id }}">{{ UtilityService.getUserName( otherUser ) }}'s details</a></h5></div>
        Feedback score: <b>{{ otherUser.feedback.score }}%</b> ({{ otherUser.feedback.count }} completed exchanges)

    </div>

</div>