
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div ng-if="myExchanges.length < 1">You do not have any exchanges, click <a href="/newExchange">here</a> to start one now</div>

<div class="container-fluid content">

        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="myExchanges">
                        
                    <div ng-repeat="exchange in myExchanges | orderBy : '-created'" class="col-xs-12 exchange">
                       
                            <div class="row"> 

                                <div class="col-xs-6"><!-- exchange details -->


<!--                 change this link based on active stage -->     
            Reference: <a href="/exchange/{{ exchange._id }}">{{ exchange._id }}</a><br>
            Status: {{ exchange.status }}<br>
            <br>

            User: <a href="/users/{{ exchange.recipient._id }}" ng-if="user._id == exchange.sender._id">
            {{ UtilityService.getUserName( exchange.recipient ) }}</a>
            <a href="/users/{{ exchange.sender._id }}" ng-if="user._id != exchange.sender._id">
            {{ UtilityService.getUserName( exchange.sender ) }}</a>
            <br><br>

            Created: {{ UtilityService.formatTimestamp(exchange.created, 'long') }}<br>
            Last modified: {{ UtilityService.formatTimestamp(exchange.lastModified, 'long') }}<br>
            <br>

            Feedback: <br><br>

            <div ng-if="exchange.sender._id == user._id">
                <div ng-if="exchange.feedback.sender">
                    Your rating: {{ exchange.feedback.sender.rating}}<br>
                    Your comment: {{ exchange.feedback.sender.comment}}
                </div>
                <div ng-if="!exchange.feedback.sender">
                    You haven't left any feedback yet
                </div>
                <div ng-if="exchange.feedback.recipient">
                    Their rating: {{ exchange.feedback.recipient.rating}}<br>
                    Their comment: {{ exchange.feedback.recipient.comment}}
                </div>
                <div ng-if="!exchange.feedback.recipient">
                    They haven't left any feedback yet
                </div>
            </div>

            <div ng-if="exchange.sender._id != user._id">
                <div ng-if="exchange.feedback.recipient">
                    Your rating: {{ exchange.feedback.recipient.rating}}<br>
                    Your comment: {{ exchange.feedback.recipient.comment}}
                </div>
                <div ng-if="!exchange.feedback.recipient">
                    You haven't left any feedback yet
                </div>
                <div ng-if="exchange.feedback.sender">
                    Their rating: {{ exchange.feedback.sender.rating}}<br>
                    Their comment: {{ exchange.feedback.sender.comment}}
                </div>
                <div ng-if="!exchange.feedback.sender">
                    They haven't left any feedback yet
                </div>
            </div>


                                </div><!-- exchange details end -->

                                <div class="col-xs-2"><!-- exchange actions -->

            <a href="/exchange/{{ exchange._id }}"><button class="btn">View</button></a><br>

            <button class="btn" 
                ng-if="exchange.status=='In progress' || exchange.status=='Agreed'" 
                ng-click="exchange.status='Cancelled'; cancelExchange( exchange._id )">
                Cancel
            </button>

            <button class="btn" 
                ng-if="exchange.status=='Agreed'" 
                ng-click="exchange.status='Completed'; completeExchange( exchange._id )">
                Mark as complete
            </button>



            <a ng-if="exchange.sender._id == user._id && !exchange.feedback.sender" href="/feedback/{{ exchange._id }}">
                <button class="btn" ng-if="exchange.status!='In progress' && exchange.status!='Cancelled before agreement'">Leave Feedback</button>
            </a>
            <a ng-if="exchange.sender._id != user._id && !exchange.feedback.recipient" href="/feedback/{{ exchange._id }}">
                <button class="btn" ng-if="exchange.status!='In progress' && exchange.status!='Cancelled before agreement'">Leave Feedback</button>
            </a>

                                </div><!-- exchange actions end -->
                            </div>
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
