
<div class="container-fluid content">

        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="exchanges">
                        
                    <div ng-repeat="exchange in exchanges | orderBy : '-created'" class="col-xs-12 exchange">
                       
                            <div class="row"> <!-- exchange details -->
                                <div class="col">

            Reference: <a href="/exchange/{{ exchange._id }}">{{ exchange._id }}</a><br>

            Sender: <a href="/users/{{ exchange.sender.username }}">{{ exchange.sender.username }}</a><br>
            Recipient: <a href="/users/{{ exchange.recipient.username }}">{{ exchange.recipient.username }}</a><br>
            
            Status: {{ exchange.status }}<br>

            Created: {{ UtilityService.formatTimestamp(exchange.created, 'long') }}<br>
            Last modified: {{ UtilityService.formatTimestamp(exchange.lastModified, 'long') }}<br>

                                </div>
                            </div><!-- exchange details end -->
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
