<div class="container-fluid content">

    <div class="row">

        <div class="col-xs-2" id="myItems">
            <h4> Your items </h4>
            
            <div ng-repeat="item in options.sender">
                <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>
            </div>
        </div>

        <div class="col-xs-8" id="exchange">
            <div class="row"><h2>Exchange</h2></div>
            <div class="row">

                <div class="col-xs-6" id="myExchangeItems">

                        <h3 ng-if="user"> {{ UtilityService.getUserName( user ) }} </h3>

                        <div ng-repeat="item in exchange.items.sender">
                            <a ng-click="removeFromExchange(item)"><div class="item">{{ item.name }}</div></a> 
                        </div>
                </div>

                <div class="col-xs-6" id="theirExchangeItems">

                        <h3 ng-if="otherUser"> {{ UtilityService.getUserName( otherUser ) }} </h3>
                        <h3 ng-if="!otherUser"> No user selected </h3>


                        <div ng-repeat="item in exchange.items.recipient">
                            <a ng-click="removeFromExchange(item)"><div class="item">{{ item.name }}</div></a>    
                        </div>

                </div>

            </div><!-- row -->

            <div class="row" id="exchangeDecision">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-outline-primary" ng-click="sendOffer( exchange )">Send offer</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-outline-danger" ng-click="cancelOffer()">Cancel offer</button>
                </div>
            </div>

        </div><!-- exchange -->

        <div class="col-xs-2" id="theirItems">

            <select name="userSelect" id="userSelect" ng-model="selectedUser"
            ng-options="user as UtilityService.getUserName(user) for user in users | filter:{ _id: '!' + user._id}"> 
                <option value="">Select User</option>
            </select> 

            <div ng-repeat="item in options.recipient">
                <a ng-click="addToExchange(item)"><div class="item">{{item.name}}</div></a>  
            </div>
        </div>

    </div>


</div>