<nav class="navbar navbar-default navbar-bottom">

    <div class="container-fluid">

        <div id="navbar" class="navbar-collapse collapse">

            <ul class="nav navbar-nav navbar-bottom-ul">
                <li class="dropup">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Help</a>
                    <ul class="dropdown-menu">
                        <li><a href="/faq">FAQ</a></li>
                        <li><a href="/contact">Contact</a></li>
                    </ul>
                </li><!-- dropup -->
        
            </ul>    
        </div><!--/.nav-collapse -->
    </div>

</nav>
