<div ng-if="!group">This group does not exist</div>

<div class="container-fluid content" ng-if="group">
    <div class="row">

        <h3>{{ group.name }}</h3>
        <button ng-if="!userInGroup" ng-click="joinGroup( group._id )">Join</button>
        <button ng-if="userInGroup" ng-click="leaveGroup( group._id )">Leave</button>
        

        <div class="col-xs-12 groupContainer">

                <div ng-show="items">
                        
                    <div ng-repeat="item in items" ng-if="item.owner._id != user._id" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 itemContainer">
                        <div class="item">

                            <div class="row">
                                <div class="col imageContainer">
                                    <a href="/items/{{ item._id }}"><img src="/images/none.jpg" class="itemImage"></a><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col itemName">
                                    <a href="/items/{{ item._id }}">{{ item.name }}</a><br>
                                    <a href="/users/{{ item.owner._id }}">{{ UtilityService.getUserName( item.owner ) }}</a><br>
                                    <a href="/newExchange/{{ item.owner._id }}/{{ item._id }}">Make an offer</a>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="/viewInfo/{{ item._id }}"><span class="glyphicon glyphicon-info-sign"></span></a>    
                                </div>
                                <div class="col-xs-4">
                                    <a href="/addToFavourites/{{ item._id }}"><span class="glyphicon glyphicon-star"></span></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/showLocation/{{ item._id }}"><span class="glyphicon glyphicon-map-marker"></span></a>
                                </div>
                            </div>
                        
                        </div><!-- item -->
                    </div>    
                </div>
            
        </div> 
    </div><!-- row -->
</div>

<div id="exchangeFooter" class="row" ng-if="group">

    <div class="col-xs-9" id="messenger">

        <div class="row"><h5>Messages</h5></div>

        <div id="displayMessages">

            <div class="row message" ng-repeat="messageToDisplay in group.conversation.messages  | orderBy : '-timestamp'">

                    <div class="col-xs-5 messageInfo" ng-if="messageToDisplay.timestamp">[{{ UtilityService.formatTimestamp(messageToDisplay.timestamp, 'short') }}] <b>{{ UtilityService.getUserName( messageToDisplay.sender ) }}:</b> </div>
                    <div class="col-xs-7 messageContent">{{ messageToDisplay.content }}</div>  

            </div>

        </div>
    

        <div id="messageForm" class="row" ng-if="userInGroup">
            <input type="text" id="messageInput" placeholder="Type a message" ng-model="message.text" 
                ng-keydown="$event.keyCode === 13 && sendMessage()" />

            <button class="btn" id="messageButton" ng-click="sendMessage( )">Send</button>
        </div>

        <div ng-if="!userInGroup">Join the group to leave a message</div>

    </div>


    <div class="col-xs-3" id="members">

        <div class="row"><h5>Members</h5></div>

        <div class="row">
            <div class="col-xs-12" ng-repeat="member in group.members">
                <a href="/users/{{member._id}}">{{ UtilityService.getUserName( member ) }}</a>
            </div>
        </div>


    </div>

</div>