<div class="container-fluid content">

    <div class="row">
        <div class="col">

            <div ng-repeat="group in myGroups" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 groupContainer">
                <div class="group">

                    <div class="row">
                        <div class="col imageContainer">
                            <a href="/groups/{{ group._id }}"><img src="/images/none.jpg" class="groupImage"></a><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col groupName">
                            <a href="/groups/{{ group._id }}">{{ group.name }}</a><br>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <a href="/viewInfo/{{ group._id }}"><span class="glyphicon glyphicon-info-sign"></span></a>    
                        </div>
                        <div class="col-xs-4">
                            <a href="/groups/{{ group._id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div class="col-xs-4">
                            <a ng-click="deleteGroup( group._id )"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                
                </div><!-- group -->
            </div>    
        </div>
    </div>
</div>