<div ng-if="groups.length < 1" class="alert alert-danger">No groups currently exist, click <a href="/newGroup">here</a> to create your own</div>
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>


<div class="container-fluid content">

            <div class="row">
                <div ng-show="groups">
                        
                    <div ng-repeat="group in groups" class="col-xs-12 groupContainer">

                            <div class="row">
                                <div class="col-xs-2 imageContainer">
                                    <img src="/images/none.jpg" class="groupImage" height="200px"></a>
                                </div>
                                 <div class="col-xs-2 groupName">
                                    <a href="/groups/{{ group._id }}">{{ group.name }}</a><br>
                                    {{ group.members.length }} members<br>
                                    
                                    <button class="btn" ng-click="joinGroup( group._id )" ng-if="!userInGroup( group )">
                                        Join group
                                    </button>
                                    <button class="btn" ng-click="leaveGroup( group._id )" ng-if="userInGroup( group )">
                                        Leave group
                                    </button>
                                </div>
                            </div><br>

                        
                    </div>    
                </div>

            </div><!-- row -->

</div><!-- content -->
