<div ng-if="!item">This item does not exist</div>

<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid content" ng-if="item">

    <div class="row">

        <div class="col-xs-12 col-sm-offset-3 col-sm-6 item">

                <input type="text" ng-model="item.name" ng-if="viewingOwnItem" />
                <h3 ng-if="!viewingOwnItem">{{ item.name }}</h3>

                <div class="row">
                    <div class="col imageContainer">
                        <img src="/images/none.jpg" class="itemImage"><br>
                    </div>
                </div>
                <div class="row" ng-if="!viewingOwnItem">
                    <div class="col">
                        Belongs to: <a href="/users/{{item.owner._id}}">{{ UtilityService.getUserName( item.owner ) }}</a><br>
                        <a href="/newExchange/{{item.owner._id}}/{{item._id}}">Make an offer</a>
                    </div>
                </div>

                <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in item.tags">
                    <span class="glyphicon glyphicon-tag"></span> {{ tag.name }}
                    <span ng-if="viewingOwnItem" ng-click="removeTag( tag, $event)" class="glyphicon glyphicon-remove" title="Remove tag"></span>
                </a>
            
        </div> 



    </div><!-- row -->

    <div ng-if="viewingOwnItem" class="row">
        <div class="col">

            Add tags:<br>
            <select id="tagSelect" ng-model="selectedTag" ng-change="selectTag(selectedTag)"> 

                <option value="">Select a tag</option>
                <option ng-repeat="tag in tags" ng-value="tag">{{tag.name}}</option>
                <option value="addTag">Add new tag</option>

            </select>

            <input type="text" ng-model="newTag.name" ng-if="selectedTag=='addTag'">
            <button ng-click="addTag( newTag.name )" class="white">Add</button><br>


            <button ng-click="updateItem()" class="white">Save</button>
            <button ng-click="resetItem()" class="white">Reset</button>
        </div>
    </div>
    
</div>