<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div ng-if="message">{{message}}</div>
        </div>
    </div>
    <div class="row addItem">
        <div class="col-xs-12">

            <form name="itemForm">

                Item Name: 

                    <input type="text" ng-model="newItem.name"><br>

                Tags:   

                    <select id="tagSelect" ng-model="selectedTag"> 

                        <option value="">Select a tag</option>
                        <option ng-repeat="tag in tags" ng-value="tag">{{tag.name}}</option>
                        <option value="addTag">Add new tag</option>

                    </select>

                    <input type="text" ng-model="newTag.name" ng-if="selectedTag=='addTag'">
                    <button ng-click="addTag( newTag.name )">Add</button><br>

                
                <div ng-if="newItem.tags.length>0">

                    Tags added:
                
                        <span ng-repeat="tag in newItem.tags">{{tag.name}}</span>
                </div>

            </form>


            <br><button ng-click="createItem( newItem )">Add this item</button>


        </div>
    </div>
</div> 
