<div ng-if="items.length < 1" class="alert alert-danger">Nobody else has listed any items, click <a href="/myItems">here</a> to view your own</div>
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid content">

    <div class="row" ng-show="items">
                
            
        <div ng-repeat="item in items | filter: filterDistance" ng-show="item.owner._id != user._id">

            
            <div class="col-xs-12 col-sm-4 col-md-3 itemContainer">
                <a href="/items/{{ item._id }}">
            
                <div class="item">

                    <div class="row">
                        <div class="col imageContainer">
                            <img ng-if="!item.image" src="/images/none.jpg" class="itemImageSmall">
                            <img ng-if="item.image" src="/images/uploads/{{item.image}}" class="itemImageSmall">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col itemName">
                                    <a href="/items/{{ item._id }}">{{ item.name }}</a><br>
                                    <a href="/users/{{ item.owner._id }}">{{ UtilityService.getUserName( item.owner ) }} ({{item.owner.feedback.score}}% <span class="glyphicon glyphicon-thumbs-up green"></span>)</a><br>
                                    {{ item.owner.location.name }}<br>

                                    <a href="/newExchange/{{ item.owner._id }}/{{ item._id }}">Make an offer</a>
                            
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-1">
                                <span title="View info" class="glyphicon glyphicon-info-sign" ng-click="showInfo(item)"></span>
                        </div>

                    </div>
                
                </div><!-- item -->
                </a>
            </div>


        </div><!-- ng-repeat -->


    </div><!-- row -->

</div><!-- content -->
