<div ng-if="myItems.length < 1">You have not listed any items, click <a href="/items/add">here</a> to do that now</div>
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid content">

    <div class="row">
            <div ng-repeat="item in myItems" class="col-xs-12 col-sm-4 col-md-3 itemContainer">
                <div class="item">

                    <div class="row">
                        <div class="col imageContainer">
                            <a href="/items/{{ item._id }}"><img src="{{item.image}}" class="itemImage"></a><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col itemName">
                            <a href="/items/{{ item._id }}">{{ item.name }}</a><br>
                            
                        </div>
                    </div>

                    <div class="row">
                        <div class="col itemTags">
                            <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in item.tags">
                                <span class="glyphicon glyphicon-tag"></span>{{ tag.name }}
                            </a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            <a href="/viewInfo/{{ item._id }}"><span class="glyphicon glyphicon-info-sign"></span></a>    
                        </div>
                        <div class="col-xs-4">
                            <a href="/items/{{ item._id }}"><span class="glyphicon glyphicon-pencil"></span></a>
                        </div>
                        <div class="col-xs-4">
                            <a ng-click="deleteItem( item._id, $event )"><span class="glyphicon glyphicon-trash"></span></a>
                        </div>
                    </div>
                
                </div><!-- item -->
            </div>    
    </div>
</div>