<div class="container-fluid">

    <div class="row whiteDiv">
        <div class="col-xs-12">

            <div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

            <form id="itemForm" name="itemForm">

                    <div class="form-group">

                        <label for="itemName">Name</label>

                        <input type="text" class="form-control" id="itemName" placeholder="Item name" ng-model="newItem.name">

                    </div>

                    <div class="form-group">

                        <label>Upload an image</label>
                        <input type="file" file-model="image" />
                        <button ng-click="uploadImage()">Upload</button>

                    </div>

                    <div class="form-group">

                        <label for="itemCondition">Condition</label>

                        <select class="form-control" id="itemCondition" ng-model="newItem.condition"> 

                            <option value="">Select condition</option>
                            <option value="new">New</option>
                            <option value="used">Used</option>

                        </select>

                    </div>

                    <div class="form-group">

                        <label for="itemDescription">Description</label>

                        <textarea rows="4" class="form-control" id="itemDescription" placeholder="Item description" ng-model="newItem.description"></textarea>

                    </div>


                    <div class="form-group">

                        <label for="itemLocation">Location</label>

                        <input type="text" class="form-control" id="itemLocation" placeholder="Item location" ng-model="newItem.location">

                    </div>



                    <div class="form-group">

                        <label for="itemTags">Tags</label>

                        <select id="itemTags" class="form-control" ng-model="selectedTag"> 

                            <option value="">Select a tag</option>
                            <option value="addTag">Add new tag</option>
                            <option ng-repeat="tag in tags" ng-value="tag">{{tag.name}}</option>

                        </select>

                        <input type="text" ng-model="newTag.name" ng-if="selectedTag=='addTag'">
                        <button ng-click="addTag( newTag.name )">Add Tag</button><br>

                    </div>



                
                <div ng-if="newItem.tags.length>0">

                    Tags added:
                            
                            <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in newItem.tags">
                                <span class="glyphicon glyphicon-tag"></span> {{ tag.name }}
                                <span ng-click="removeTag( tag, $event)" class="glyphicon glyphicon-remove" title="Remove tag"></span>
                            </a>

                </div>

            </form>


            <br><button ng-click="createItem( newItem )">Add this item</button>


        </div>
    </div>
</div> 
