<div ng-if="!item" class="alert alert-danger">This item does not exist</div>

<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid content" ng-if="item">

    <div class="row">

        <div class="col-xs-12 col-sm-offset-3 col-sm-6 item">

            <form>

                <div ng-if="viewingOwnItem">

                    <div class="form-group">

                        <label for="itemName">Name</label>

                        <input type="text" class="form-control" id="itemName" placeholder="Item name" ng-model="item.name">

                    </div>

                    <div class="row">
                        <div class="col imageContainer">
                            <label for="itemImage">Image</label>
                            <img ng-if="!item.image" src="/images/none.jpg" class="itemImage">
                            <img ng-if="item.image" src="/images/uploads/{{item.image}}" class="itemImage">
                        </div>
                    </div>

                    <div class="form-group">

                        <label for="itemDescription">Description</label>

                        <textarea rows="8" class="form-control" id="itemDescription" placeholder="Item description" ng-model="item.description"></textarea>

                    </div>
                </div>

                <div ng-if="!viewingOwnItem">
                    
                    <h3>{{ item.name }}</h3>
                    <div class="row">
                        <div class="col imageContainer">
                            <img ng-if="!item.image" src="/images/none.jpg" class="itemImage">
                            <img ng-if="item.image" src="/images/uploads/{{item.image}}" class="itemImage">
                        </div>
                    </div>
                                        <br>

                    <div class="row">
                        <div class="col">
                            <a href="/users/{{item.owner._id}}">{{ UtilityService.getUserName( item.owner ) }}</a> (<b>{{ user.feedback.score }}%</b> <span class="glyphicon glyphicon-thumbs-up green"></span> - {{ user.feedback.count }} completed exchanges)

                           <br>{{ item.owner.location.name }} ({{ UtilityService.calculateDistance( user, item.owner ) }} miles away)<br>
            

                            <a href="/newExchange/{{item.owner._id}}/{{item._id}}">Make an offer</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                              <label for="comment">Description</label>
                              <textarea class="form-control" rows="8" id="comment" readonly>{{item.description}}</textarea>
                            </div> 
                        </div>
                    </div>

                    

                </div>
            </form>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label ng-if="item.tags.length>0 || tags.length>0">Tags</label><br>
                                <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in item.tags">
                                    <span class="glyphicon glyphicon-tag"></span> {{ tag.name }}
                                    <span ng-if="viewingOwnItem" ng-click="removeTag( tag, $event)" class="glyphicon glyphicon-remove" title="Remove tag"></span>
                                </a>
                            </div>
                        </div>
                    </div>



<div ng-if="viewingOwnItem" class="row">
        <div class="col">

            <select id="tagSelect" ng-model="selectedTag" ng-change="selectTag(selectedTag)"> 

                <option value="">Select a tag</option>
                <option value="addTag">Add new tag</option>
                <option ng-repeat="tag in tags" ng-value="tag">{{tag.name}}</option>

            </select>

            <input type="text" ng-model="newTag.name" ng-if="selectedTag=='addTag'">
            <button ng-click="addTag( newTag.name )">Add</button><br>


            <button ng-click="updateItem()">Save</button>
            <button ng-click="resetItem()">Reset</button>
        </div>
    </div>
            
        </div> 


    </div><!-- row -->

    
    
</div>