
<div class="container-fluid content">

        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="ctrl.myExchanges">
                        
                    <div ng-repeat="exchange in ctrl.myExchanges | orderBy : '-created'" class="col-xs-12 exchange">
                       
                            <div class="row"> <!-- exchange details -->
                                <div class="col">
            Reference: <a href="/exchange/{{ exchange._id }}">{{ exchange._id }}</a><br>

            User: <a href="/users/{{ exchange.recipient.username }}" ng-if="ctrl.user._id == exchange.sender._id">
            {{ exchange.recipient.username }}</a>
            <a href="/users/{{ exchange.sender.username }}" ng-if="ctrl.user._id != exchange.sender._id">
            {{ exchange.sender.username }}</a>
            <br>
            
            Status: {{ exchange.status }}

                                </div>
                            </div><!-- exchange details end -->
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
