<nav class="navbar navbar-default navbar-fixed-top">


<div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">give/swap</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Items<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/items/add">List an item</a></li>
                    <li><a href="/items">Browse items</a></li>
                </ul>
            </li><!-- dropdown -->

            <li class="dropdown">
                <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Exchanges<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/exchange">Start an exchange</a></li>
                    <li><a href="/myExchanges">My exchanges</a></li>
                </ul>
            </li><!-- dropdown -->

            <li><input type="text" name="search" id="navSearch" class="form-control" placeholder="Find an item" value=""></li>
        </ul>

        <ul ng-controller="profileController as ctrl" class="nav navbar-nav navbar-right">

            <li ng-if="ctrl.user.isAdmin" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin</a>
                <ul class="dropdown-menu">
                    <li><a href="/users">Browse users</a></li>
                </ul>
            </li>

            <li><a href="/messages"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></a></li>

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>

                <ul class="dropdown-menu">
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="/settings">Settings</a></li>
                    <li ng-controller="logoutController"><a ng-click='logout()'>Log out</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/myItems">My items</a></li>
                </ul>
            </li><!-- dropdown -->

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>

                <ul class="dropdown-menu">
                    <li><a href="/faq">FAQ</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </li><!-- dropdown -->
        </ul>
    </div><!--/.nav-collapse -->
</div>



</nav>