<div ng-controller="navController as ctrl">

<nav class="navbar navbar-default navbar-fixed-top">


<div class="container-fluid">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="sr-only">Toggle navigation</span>
        </button>
        <a class="navbar-brand" href="/">give/swap</a>
    </div>

    <div id="navbar" class="navbar-collapse collapse">

        <div id="whenLoggedIn" ng-if="authService.isLoggedIn()">

            <ul class="nav navbar-nav">

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Items<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/items">Browse items</a></li>
                        <li><a href="/myItems">My items</a></li>
                        <li><a href="/items/add">Add an item</a></li>
                    </ul>
                </li><!-- dropdown -->

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Exchanges<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/newExchange">Start an exchange</a></li>
                        <li><a href="/myExchanges">My exchanges</a></li>
                    </ul>
                </li><!-- dropdown -->

                <li class="dropdown">
                    <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Groups<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/groups">Browse groups</a></li>
                        <li><a href="/myGroups">My groups</a></li>
                        <li><a href="/newGroup">Create a group</a></li>
                    </ul>
                </li><!-- dropdown -->

                <li>
                    <a href="/tags">Tags</a>
                </li>


                <li ng-if="user.isAdmin" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        Admin<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/users">Browse users</a></li>
                        <li><a href="/exchanges">Browse exchanges</a></li>
                    </ul>
                </li>
                
            </ul>

            <ul class="nav navbar-nav navbar-right">

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <span ng-class="{'unreadNotifications': unreadNotifications}" class="glyphicon glyphicon-bell" aria-hidden="true"></span>
                    </a>

                    <ul class="dropdown-menu">

                        <li ng-repeat="notification in notifications | filter:{ read: 'false'} | orderBy: '-createdAt' | limitTo:10">
                            
                            <a ng-click="markReadAndView( $event, notification )" ng-class="{'unreadNotification': !notification.read}">
                                [{{ UtilityService.formatTimestamp( notification.createdAt, 'short') }}] {{ notification.message }}
                                <span ng-if="!notification.read" ng-click="markRead( $event, notification )" 
                                    class="glyphicon glyphicon-remove tooltip-test" title="Mark read"></span>
                            </a>

                        </li>

                        <li ng-if="!unreadNotifications"><a>No new notifications</a></li>
                        <li ng-if="notifications.length>0"><a href="/notifications">View all ({{notifications.length}})</a></li>

                    </ul>
                </li><!-- dropdown -->

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a>

                    <ul class="dropdown-menu">
                        <li><a href="/profile">Profile</a></li>
                        <li ng-controller="logoutController"><a ng-click='logout()'>Log out</a></li>
                    </ul>
                </li><!-- dropdown -->

                <li>
                    <a href="/help"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a></li>
                </li>
            </ul>
        </div><!-- whenLoggedIn -->

    </div><!--navbar -->
</div>



</nav>

<nav class="navbar navbar-default searchNav" id="whenLoggedIn" ng-if="authService.isLoggedIn()">

    <div class="container-fluid">

        <div class="row">
                            
                <div class="col-xs-11 col">
                    <input type="text" id="searchBox" class="" placeholder="Search" 
                    ng-model="search.text" ng-keydown="$event.keyCode === 13 && search(search.text)">
                </div>
                
                <div class="col-xs-1 col">
                    <button id="searchButton" ng-click="search(search.text)">Go</button>
                </div>

        </div>

    </div>

</nav>

</div>