<div class="container-fluid content">

    <div class="row">

        <div class="col-xs-2" id="myItems">
            <h4> Your items </h4>
            
            <div ng-repeat="item in ctrl.options.sender">
                <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>
            </div>
        </div>

        <div class="col-xs-8" id="exchange">
            <div class="row"><h2>Exchange</h2></div>
            <div class="row">

                <div class="col-xs-6" id="myExchangeItems">

                        <h3> {{ ctrl.user.username }} </h3>

                        <div ng-repeat="item in ctrl.exchange.items.sender">
                            <a ng-click="ctrl.removeFromExchange(item)"><div class="item">{{ item.name }}</div></a> 
                        </div>
                        <div ng-if="Object.keys(ctrl.exchange.items.sender).length == 0">No items added to exchange</div>
                </div>

                <div class="col-xs-6" id="theirExchangeItems">

                        <h3> {{ ctrl.otherUser.username }} </h3>

                        <div ng-repeat="item in ctrl.exchange.items.recipient">
                            <a ng-click="ctrl.removeFromExchange(item)"><div class="item">{{ item.name }}</div></a>    
                        </div>
                        <div ng-if="Object.keys(ctrl.exchange.items.recipient).length == 0">No items added to exchange</div>

                </div>

            </div><!-- row -->

            <div class="row" id="exchangeDecision">
                <div class="col-xs-6">
                    <button type="button" class="btn btn-outline-primary" ng-click="ctrl.sendOffer( ctrl.exchange )">Send offer</button>
                </div>
                <div class="col-xs-6">
                    <button type="button" class="btn btn-outline-danger" ng-click="ctrl.cancelOffer()">Cancel offer</button>
                </div>
            </div>

        </div><!-- exchange -->

        <div class="col-xs-2" id="theirItems">

            <select name="userSelect" id="userSelect" ng-model="ctrl.selectedUser"
            ng-options="user as user.username for user in ctrl.users | filter:{username: '!' + ctrl.user.username}"> 
                <option value="">Select User</option>
            </select> 

            <div ng-repeat="item in ctrl.options.recipient">
                <a ng-click="ctrl.addToExchange(item)"><div class="item">{{item.name}}</div></a>  
            </div>
        </div>

    </div>


</div>