<div ng-if="notifications.length < 1" class="alert alert-danger">You have no notifications</div>


<div class="container-fluid content">

    <div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

            <div class="row">
                <div ng-show="notifications">
                        
                    <div ng-repeat="notification in notifications | orderBy: '-createdAt' ">

                        <a ng-click="markReadAndView( $event, notification )" ng-class="{'unreadNotification': !notification.read}">
                            [{{ UtilityService.formatTimestamp( notification.createdAt, 'short') }}] {{ notification.message }}
                            <span ng-if="!notification.read" ng-click="markRead( $event, notification)" class="glyphicon glyphicon-remove" title="Mark read"></span>
                        </a>

                    </div>    
                </div>

            </div><!-- row -->

</div><!-- content -->
