<div class="container">

    <div class="page-header text-center">
        <h3>Profile</h3>
    </div>

    Is user an admin? <b>{{ user.isAdmin }}</b><br>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12 col-md-6 col-offset-md-3">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                    <p ng-if="user.local.email">
                        <strong>name</strong>: {{ user.local.name }}<br>
                        <strong>email</strong>: <input type="text" ng-model="user.local.email" placeholder="Email address" />
                        <button ng-click="updateProfile()">Save</button>

                    </p>

                    <a ng-if="user.local.email" href="/api/auth/unlink/local" class="btn btn-danger">Unlink</a>
                    <a ng-if="!user.local.email" href="/connect/local" class="btn btn-danger">Create Recycle Login</a>

            </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-12 col-md-6 col-offset-md-3">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                <!-- check if the user has this token (is the user authenticated with this social account) -->

                    <p ng-if="user.facebook.token">
                        <strong>email</strong>: {{ user.facebook.email }}<br>
                        <strong>name</strong>: {{ user.facebook.name }}<br>
                    </p>

                    <a ng-if="user.facebook.token" href="/api/auth/unlink/facebook" class="btn btn-danger">Unlink</a>
                    <a ng-if="!user.facebook.token" href="/api/auth/connect/facebook" class="btn btn-danger">Connect Facebook</a>

            </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-12 col-md-6 col-offset-md-3">
            <div class="well">
                <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

                    <p ng-if="user.google.token">
                        <strong>email</strong>: {{ user.google.email }}<br>
                        <strong>name</strong>: {{ user.google.name }}
                    </p>

                    <a ng-if="user.google.token" href="/api/auth/unlink/google" class="btn btn-danger">Unlink</a>
                    <a ng-if="!user.google.token" href="/api/auth/connect/google" class="btn btn-danger">Connect Google</a>

            </div>
        </div>

    </div>
</div>