<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>
<div ng-show="success.message" class="alert alert-success">{{success.message}}</div>

<div class="container">

    <h3>Profile</h3>

    <div class="row">
        

        <div class="col-xs-12 whiteDiv">

            <h4>Your feedback</h4>

            Feedback score: <b>{{ user.feedback.score }}%</b> 
            <span class="glyphicon glyphicon-thumbs-up green"></span>
            ({{ user.feedback.count }} completed exchanges)
            
            <br><br>

           <div id="displayFeedback" ng-if="feedbacks.length > 0">

                <table>
                    <tr>                       
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>User</th> 
                        <th>Date</th>
                    </tr>

                    <tr ng-repeat="feedbackToDisplay in feedbacks  | orderBy : '-timestamp' | limitTo: 5">


                        <td class="feedbackRating">
                            <span ng-if="feedbackToDisplay.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                            <span ng-if="feedbackToDisplay.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                            <span ng-if="feedbackToDisplay.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                        </td>

                        <td>"{{ feedbackToDisplay.comment }}"</td> 

                        <td>
                            <a href="/users/{{feedbackToDisplay.author._id}}">
                                {{ UtilityService.getUserName( feedbackToDisplay.author ) }}
                            </a> ({{feedbackToDisplay.author.feedback.score}}% <span class="glyphicon glyphicon-thumbs-up green"></span>)
                        </td>


                        <td>
                            {{ UtilityService.formatTimestamp(feedbackToDisplay.timestamp, 'short') }}
                        </td>
                    </tr>
                </table>

                <button ng-if="feedbacks.length> 5" ng-click="showAllFeedback( user )">Show all ({{ feedbacks.length }})</button>


            </div>

        </div>

    </div>

    

    <div class="row">

        <div class="col-xs-12 whiteDiv">

                <button ng-click="updateProfile()" class="btn btn-danger">Save</button>
                <button ng-click="resetProfile()" class="btn btn-danger">Reset</button>
        </div>

    </div>
    <div class="row">


        <div class="col whiteDiv">

            <div class="form-group">

                <label>Your location</label>
                <input type="text" name="location" ng-model="user.location" class="form-control"
        uib-typeahead="location as location.name for location in locations | filter:$viewValue | orderBy:'name' | limitTo:8">
        
                <label>How many miles do you want to see items within?</label>
                <input type="number" name="maxDistance" ng-model="user.maxDistance" class="form-control">


            </div>  
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12 col-md-4 whiteDiv profileSection">

                <h5>Local</h5>

                        <div class="form-group" ng-if="user.local">
                            <label>Full name</label>
                            <input type="text" ng-model="user.local.name" placeholder="Your full name" class="form-control"/>
                            <label>Email</label>
                            <input type="email" ng-model="user.local.email" placeholder="Email address" class="form-control"/>
                        </div>

                    <a ng-if="user.local && (user.facebook || user.google)" ng-click="removeLocal()" class="btn btn-danger">Remove</a>
                    <a ng-if="!user.local" href="/connect/local" class="btn btn-danger">Create Recycle Login</a>
        </div>

        <div class="col-sm-12 col-md-4 whiteDiv profileSection facebookSection">
            <span>
                <h5 class="text-primary">Facebook</h5>

                    <p ng-if="user.facebook.token">
                        <strong>name</strong>: {{ user.facebook.name }}<br>
                    </p>

                    <a ng-if="user.facebook.token" href="/api/auth/unlink/facebook" class="btn btn-danger">Unlink</a>
                    <a ng-if="!user.facebook.token" href="/api/auth/connect/facebook" class="btn btn-danger">Connect Facebook</a>
                </span>
        </div>

        <div class="col-sm-12 col-md-4 whiteDiv profileSection googleSection">
            <span>
                <h5 class="text-danger">Google</h5>

                    <p ng-if="user.google.token">
                        <strong>email</strong>: {{ user.google.email }}<br>
                        <strong>name</strong>: {{ user.google.name }}
                    </p>

                    <a ng-if="user.google.token" href="/api/auth/unlink/google" class="btn btn-danger">Unlink</a>
                    <a ng-if="!user.google.token" href="/api/auth/connect/google" class="btn btn-danger">Connect Google</a>
        </span></div>

    </div>

</div>