<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div ng-if="tags.length < 1">No tags currently exist</div>

<div class="container-fluid content">

            <div class="row">
                <div ng-show="tags">

	                <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in tags | orderBy: 'name' ">
	                    <span class="glyphicon glyphicon-tag"></span> {{ tag.name }}
	                </a>

                </div>

            </div><!-- row -->

</div><!-- content -->
