<div class="container-fluid content">

   
        <div id="page-content-wrapper">

            <div class="row">
                <div ng-show="users">
                        
                    <div ng-repeat="user in users" class="col-xs-12 col-sm-4 col-md-3 col-lg-2 userContainer">
                        <div class="user">

                            <div class="row">
                                <div class="col imageContainer">
                                    <a href="/users/{{ user.username }}"><img src="/images/none.jpg" class="userImage"></a><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col userName">
                                    <a href="/users/{{ user.username }}">{{ user.username }}</a><br>
                                    <a>{{ user.email }}</a><br>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <a href="/viewInfo/{{ user.username }}"><span class="glyphicon glyphicon-info-sign"></span></a>    
                                </div>
                                <div class="col-xs-4">
                                    <a href="/addToFavourites/{{ user.username }}"><span class="glyphicon glyphicon-star"></span></a>
                                </div>
                                <div class="col-xs-4">
                                    <a href="/showLocation/{{ user.username }}"><span class="glyphicon glyphicon-map-marker"></span></a>
                                </div>
                            </div>
                        
                        </div><!-- user -->
                    </div>    
                </div>

            </div><!-- row -->
        
        </div><!-- page-content-wrapper -->

</div><!-- content -->
