<div ng-if="!user">This user does not exist</div>
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid" ng-if="user">

    <div class="row">

        <div class="whiteDiv col-sm-12" ng-if="user">

            <div class="row"><h5>{{ UtilityService.getUserName( user ) }}</h5><div ng-show="user.isAdmin">(Administrator)</div></div>

            Feedback score: <b>{{ user.feedback.score }}%</b> ({{ user.feedback.count }} completed exchanges)
            
            <br><br>

            <div id="displayFeedback">

                <div class="row feedback" ng-repeat="feedbackToDisplay in feedbacks  | orderBy : '-timestamp'">

                    <div class="col-xs-5 messageInfo" ng-if="feedbackToDisplay.timestamp">[{{ UtilityService.formatTimestamp(feedbackToDisplay.timestamp, 'short') }}] <b>{{ UtilityService.getUserName( feedbackToDisplay.author ) }}:</b> </div>
                    <div class="col-xs-7 messageContent">{{ feedbackToDisplay.rating }} - {{ feedbackToDisplay.comment }}</div>  

                </div>

            </div>

        </div>

    </div>

    <div class="row">
                
        <div ng-if="user.items">
            <div ng-repeat="item in user.items" class="col-xs-12 col-sm-4 col-md-3 itemContainer">
                <div class="item">

                    <div class="row">
                        <div class="col imageContainer">
                            <a href="/items/{{item._id}}"><img src="/images/none.jpg" class="itemImage"></a><br>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col itemName">
                            <a href="/items/{{item._id}}">{{item.name}}</a><br>
                            <a href="/newExchange/{{item.owner.username}}/{{item._id}}">Make an offer</a>
                        </div>
                    </div>

                     <div class="row">
                        <div class="col itemTags">
                            <a class="tag" href="/tags/{{tag.name}}" ng-repeat="tag in item.tags">
                                <span class="glyphicon glyphicon-tag"></span>{{ tag.name }}
                            </a>
                        </div>
                    </div>
                    
                    <div class="row">

                        <div class="col-xs-4">
                            <a href="/viewInfo/{{ item._id }}">
                                <span title="View info" class="glyphicon glyphicon-info-sign"></span>
                            </a>    
                        </div>

                        <div class="col-xs-4"></div>
                        
                        <div class="col-xs-4">
                            <a href="/showLocation/{{ item._id }}">
                                <span title="Show location" class="glyphicon glyphicon-map-marker"></span>
                            </a>
                        </div>

                    </div>
                
                </div><!-- item -->
            </div>    
        </div>
    </div>
</div>




