<div ng-if="!user" class="alert alert-danger">This user does not exist</div>
<div ng-show="error.message" class="alert alert-danger">{{error.message}}</div>

<div class="container-fluid" ng-if="user">

    <div class="row">

        <div class="whiteDiv col-sm-12" ng-if="user">

            <div class="row"><h5>{{ UtilityService.getUserName( user ) }}</h5><div ng-show="user.isAdmin">(Administrator)</div></div>

            Located in: {{ user.location.name }} <span ng-if="userThatsViewing">({{ UtilityService.calculateDistance( user, userThatsViewing ) }} miles away)</span><br><br>
            Feedback score: <b>{{ user.feedback.score }}%</b>
            <span class="glyphicon glyphicon-thumbs-up green"></span>
            ({{ user.feedback.count }} completed exchanges)
            
            <br><br>

            <div id="displayFeedback" ng-if="feedbacks.length>0">

                <table>
                    <tr>                      
                        <th>Rating</th>
                        <th>Comment</th>
                        <th>User</th>  
                        <th>Date</th>
                    </tr>

                    <tr ng-repeat="feedbackToDisplay in feedbacks  | orderBy : '-timestamp' | limitTo: 5">

                        <td class="feedbackRating">
                            <span ng-if="feedbackToDisplay.rating === 2" class="glyphicon glyphicon-thumbs-up green"></span>
                            <span ng-if="feedbackToDisplay.rating === 1" class="glyphicon glyphicon-minus yellow"></span>
                            <span ng-if="feedbackToDisplay.rating === 0" class="glyphicon glyphicon-thumbs-down red"></span>
                        </td>

                        <td>{{ feedbackToDisplay.comment }}</td> 

                        <td>
                            <a href="/users/{{feedbackToDisplay.author._id}}">{{ UtilityService.getUserName( feedbackToDisplay.author ) }}
                            </a> ({{feedbackToDisplay.author.feedback.score}}% <span class="glyphicon glyphicon-thumbs-up green"></span>)
                        </td>

                        <td>
                            {{ UtilityService.formatTimestamp(feedbackToDisplay.timestamp, 'short') }}
                        </td>
                    </tr>
                </table>
                <button ng-if="feedbacks.length> 5" ng-click="showAllFeedback( user )">Show all ({{ feedbacks.length }})</button>


            </div>

        </div>

    </div>

    <div class="row">
                
        <div ng-if="user.items">
            <div ng-repeat="item in user.items | filter: filterDistance" class="col-xs-12 col-sm-4 col-md-3 itemContainer">
                <div class="item">

                    <div class="row">
                        <div class="col imageContainer">
                            <img ng-if="!item.image" src="/images/none.jpg" class="itemImageSmall">
                            <img ng-if="item.image" src="/images/uploads/{{item.image}}" class="itemImageSmall">                        
                        </div>
                    </div>
                    <div class="row">
                        <div class="col itemName">
                            <a href="/items/{{ item._id }}">{{ item.name }}</a><br>
                            <a href="/newExchange/{{ item.owner._id }}/{{ item._id }}">Make an offer</a>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-xs-1">
                                <span title="View info" class="glyphicon glyphicon-info-sign" ng-click="showInfo(item)"></span>
                        </div>


                    </div>
                
                </div><!-- item -->
            </div>    
        </div>
    </div>
</div>




