/*.exchangeInfoIcon{
	right:0;
}
*/
#exchangeFooter {
    position: fixed;
    bottom: 0;
    right: 0;
    left:0;
}

#messenger, #otherUserInfo, #userInfo, #members{
	border: 1px solid #d9e4f2;
	border-width: 1px 1px 1px 0;
	background-color: white;
	height: 250px;
}

#displayMessages{
	overflow-y: auto;
	overflow-x: hidden;
	height:170px;
	border: 1px solid #d9e4f2;
	padding: 2px;
}

#feedbackTable{
	margin: 0 auto;
}

#feedbackTable tr th{
	padding:0 15px;
	font-weight: normal;
}

.messageContent, .messageInfo{
	text-align: left;
}

.message{
	margin: 2px;
}

#userSelect{
	margin-bottom: 10px;
}

/*.exchangeItem{
	background-color:#eae7e74d;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	border-radius: 5px;
	border: 1px solid #eae7e74d;
}

.exchangeItem:hover{
	border: 1px solid #d9e4f2;
}
*/

.itemOption, .exchangeItem{
	background-color: #eae7e74d;
	text-align: center;
	padding:5px;
	overflow:hidden;
	border-radius: 10px;
	border: 1px solid #ffb40000;
}

.itemOption:hover, .exchangeItem:hover{
	border: 1px solid #d9e4f2;
}

a > .exchangeItem, a > .itemOption{
	color:black;
}

a > .exchangeItem:hover, a > .itemOption:hover{
	color:#007280;
}

#exchange{

	padding:5px;
}

.exchange{
	background-color:#eae7e74d;
	text-align: left;
	padding: 5px;
	padding-left:50px;
	margin:2px;
	overflow:hidden;
	border-radius: 5px;
	border: 1px solid #eae7e74d;
}

.exchange:hover{
	border: 1px solid #d9e4f2;
}

#exchangeDecision{
	margin-top:20px;
	margin-bottom: 20px;
}

.exchangeAction {
	width:100px;
}

#exchangeDecision div button{
	width:100%;
}

#messageInput{
	width:79%;
	margin:0;
}

#messageButton{
	width:17%;
}