.itemContainer{
	padding:5px;
}

.oneExchange{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	box-shadow: 0 0 5px #e4ceb4;
}

.exchangeItem{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	border-radius: 5px;
	border: 1px solid #f2e7d9;
}

#exchange{
	background-color:white;
	border-radius: 5px;
	border: 1px solid #f2e7d9;
	overflow: hidden;
}

#exchangeMessages{
	background-color:white;
	border-radius: 0;
	border-width-top: 1px;
	border-color: #f2e7d9;
}

.exchange{
	background-color:white;
	text-align: left;
	padding: 5px;
	padding-left:50px;
	margin:2px;
	overflow:hidden;
	border-radius: 5px;
	border: 2px solid #f2e7d9;
}

.exchange:hover{
	border: 2px solid #d9e4f2;
}

#exchangeDecision{
	margin-top:20px;
	margin-bottom: 20px;
}

button{
	height:40px;
	line-height: 40px;
	background-color: #F9F4EE;
}

#exchangeDecision div button{
	width:100%;
}

input{
	height:40px;
}

#messageInput{
	width:79%;
	margin:0;
}

#messageButton{
	width:20%;
	margin:0;
}