.itemContainer{
	padding:5px;
	height: 400px;
}

.item{
	background-color:white;
	text-align: center;
	padding: 5px;
	/*overflow:hidden;*/
	border-radius: 5px;
	border: 2px solid #f2e7d9;
}

.item .row {
	margin:0 !important;
}

.item:hover{
	border: 2px solid #d9e4f2;
}

.addItem{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	border: 1px solid #f2e7d9;
}

.itemImage{
	max-width:100%;
}

.itemName{
	margin:5px;
}

.itemButton{
	border-radius:5px;

}

.tag{
	background-color:white;
	border-radius:5px;
	border: 1px solid;
	padding: 3px;
	margin: 1px;
	display:inline-block;
}

.itemTags{
	margin-bottom: 10px;
}