.itemContainer{
	padding:5px;
}

.item{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	border-radius: 5px;
	border: 1px solid #f2e7d9;
}

.item:hover{
	border: 1px solid #d9e4f2;
	/*box-shadow: 0 0 5px #f2e7d9;*/
}

.addItem{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	border: 2px solid #f2e7d9;
}

.itemImage{
	max-width:100%;
}

.itemName{
	margin:5px;
}

.itemButton{
	border-radius:5px;

}

.content{
	text-align: center;
}

span.glyphicon {
    font-size: 150%;
}

