.itemContainer{
	padding:5px;
}

.item{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	box-shadow: 0 0 5px #e4ceb4;
}

.addItem{
	background-color:white;
	text-align: center;
	padding: 5px;
	overflow:hidden;
	box-shadow: 0 0 2px #e4ceb4;
}

.item:hover{
	box-shadow: 0 0 10px #dec2a1;
}

.itemImage{
	max-width:100%;
}

.itemName{
	margin:5px;
}

.itemButton{
	border-radius:5px;

}

.content{
	text-align: center;
}

span.glyphicon {
    font-size: 150%;
}

