.login {
	text-align: center;
	margin-top: 60px;
	border-color: #e7e7e7;
}

.button{
	background-color: #F9F4EE;
}

.panel-heading {
	margin-bottom: 10px;
}

.form-group{
  margin: 10px;
}

.loginInput, .loginButton {
   text-align:center !important;
}

/*::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { 
   text-align: center;  
}

::-moz-placeholder {  
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}*/


#login-form div{
	padding:0;
}

.form-control.button{
	border:0;
}

.profileSection{
	height:250px;
	
}

.googleSection, .facebookSection{
	height:250px;
	line-height: 250px;
	text-align: center;
}

.profileSection span {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}