.login {
	text-align: center;
	margin-top: 60px;
	border-color: #e7e7e7;
}

.button{
	background-color: #F9F4EE;
}

.panel-heading {
	margin-bottom: 10px;
}

.form-group{
  margin: 10px;
}

input {
   text-align:center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

#login-form div{
	padding:0;
}

.form-control.button{
	border:0;
}