html, body {
  height:100%;
}

body{
	overflow-x:hidden;
	background-color: #F9F4EE;
	padding-top:60px !important;
}

a{
  text-decoration: none;
}

a button {
  color: #333333 !important;
}

a:hover{
  text-decoration: none;
  color: #414448;
}

.content {
    text-align: center;
    min-height:91%;
    display:block;
    margin: 0 5%;
    padding-bottom: 130px;
}

#searchBar{
}

#searchBox{
  width:100%;
}

#searchBar .row .col{
  padding:0;
  margin:0;
}

.whiteDiv{
  background-color: white;
  border-radius: 5px;
  border: 1px solid #f2e7d9;
}

.navbar{
  padding: 0 3%;
}

a.dropdown-toggle{
  padding-bottom: 20px;
}

.unreadNotifications{
  color:red;
}

.unreadNotification, .unreadNotification:hover{
  background-color: #CDB6B6 !important;
}

.glyphicon-bell, .glyphicon-user, .glyphicon-question-sign{
    font-size: 150%;
}

.glyphicon-remove{
  margin-left: 5px;
}

.glyphicon-tag{
  font-size: 75%;
}

button{
  text-align: center;
  border-radius: 5px;
  border: 1px solid #f2e7d9 !important;
  padding:5px;
}

button:hover{
  border: 1px solid #d9e4f2;
}

.whiteBackground{
  background-color: white;
}

.red{
  color: red;
}

.yellow{
  color: khaki;
}

.green{
  color: green;
}

table tr td, table tr th {

    padding: 5px 10px;
    text-align: left
}

tr .feedbackRating{

  text-align: center
}

table{

    margin-left:auto; 
    margin-right:auto;
}
