html, body {
  height:100%;
}

body{
	overflow-x:hidden;
  padding-top:55px !important;
  font-family: Helvetica;
}

h1, h2, h3{
  margin-top: 0;
}

a{
  text-decoration: none;
}
 
a button {
  color: #333333 !important;
}

a:hover{
  text-decoration: none;
  color: #414448;
}

.content {
    text-align: center;
    min-height:91%;
    display:block;
    margin: 0 5%;
    padding-bottom: 130px;
}


.whiteDiv{
  background-color: white;
  padding:5px;
}

a.dropdown-toggle{
  padding-bottom: 20px;
}

.unreadNotifications{
  color:red;
}

.unreadNotification, .unreadNotification:hover{
  background-color: #CDB6B6 !important;
}

.glyphicon-bell, .glyphicon-user, .glyphicon-question-sign{
    font-size: 150%;
}

.glyphicon-remove{
  margin-left: 5px;
}

.glyphicon-tag{
  font-size: 75%;
}

button{
  text-align: center;
  border-radius: 5px;
  border:none !important;
  padding:5px;
  background-color: #55cfcf80;
}

button:hover{
  border: none;
  color:white;
}

.whiteBackground{
  background-color: white;
}

.red{
  color: red;
}

.yellow{
  color: khaki;
}

.green{
  color: green;
}

table tr td, table tr th {

    padding: 5px 10px;
    text-align: left
}

tr .feedbackRating{

  text-align: center
}



table{

    margin-left:auto; 
    margin-right:auto;
}

textarea{
  resize: none;
}
