body{
	overflow-x:hidden;
	background-color: #F9F4EE;
	padding:60px;
}

body a:hover {
    text-decoration: none;
}

ul{
	padding: 0;
}

li {
	margin:		10px;
	display: 	inline;
}

.content {
	background-color: #D1C6BF;
	margin: 0 2%;
	padding: 0 5px;
}

.panel-heading {
	margin-bottom: 10px;
}

input {
   text-align:center;
}

::-webkit-input-placeholder {
   text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
   text-align: center;  
}

:-ms-input-placeholder {  
   text-align: center; 
}

.nav {
	text-align: center;
	vertical-align: center;
	margin-bottom: 0px;
	background-color: #D1C6BF;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #B7A6AD;
	overflow: hidden;
}

.navItem{
	padding: 0 5px;
}

.navButton{
	border-radius:5px;
	height:35px;
}
