<!doctype html>
<html>
<head>
    <title>Recycle</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
<div id="container">
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile"><%= user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div id="content">
    	<a href="/addItem">List an item</a> / <a href="/items">Find an item</a>
    </div>

</div> 
</body>
</html>
