<!doctype html>
<html>
<head>
    <title>Items</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

<div id="container">
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/profile"><%= user.username %></a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div id="content">

            <h3>Items</h3>

            <% items.forEach( function( item ){
                if( item.name ){ %>
                    <div class="item"><%= item.owner %> / <%= item.name %></div>    
                <% } %>

            <% }); %>
    </div>
</div>
</body>
</html>
