<!doctype html>
<html>
<head>
    <title>Your Profile</title>
    <link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>

<div id="container">
    <div id="nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>

    <div id="content">

        <% if (user) { %>

            <h3>Account</h3>
            username: <%= user.username %><br>
            email: <%= user.email %><br>
            <br>
            Items:<br><br>

            <% user.items.forEach( function( item ){
                if( item ){  %>
                    <div class="item"><%= item %></div>    
                <% } %>

            <% }); %>

        <% } %>

    </div>
</div>
</body>
</html>
